<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suzzy" >

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Suzzy">
        <activity android:name=".Cart.Product_Details" android:parentActivityName=".Cart.Categories"/>
        <activity
            android:name=".MoreOptions.Maps"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MoreOptions.History"
            android:parentActivityName=".MainFrags.MoreFrag" />
        <activity
            android:name=".MoreOptions.Account"
            android:parentActivityName=".MainFrags.MoreFrag" />
        <activity
            android:name=".Cart.Categories"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateAccount"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OnboardingScreen" />
        <activity
            android:name=".MainFrags.CartFrag"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainFrags.MoreFrag" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>